<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('auth.signup') }}">
        {{ form.hidden_tag() }}
        <p>{{ form.email.label }}<br>{{ form.email }}</p>
        <p>{{ form.password.label }}<br>{{ form.password }}</p>
        <p>{{ form.submit_button }}</p>
    </form>
</body>
</html>
